body{
    padding: 8px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* #type-wrap{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 255, 0.158);
} */
#input-el{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
#words-el{
    font-size: 28px;
    opacity: 0.6;
}
#right-span{
    color: green;
    background-color: rgb(19, 185, 19);
}
#wrong-span{
    color: red;
    background-color: rgb(151, 9, 9);
}