body{
    padding: 8px;
    margin: 0;
    font-family: monospace;
    font-size: 28px;
}
#timer-el{
    font-size: 32px;
    color: rgb(77, 77, 231);
}
#wpm-el{
    font-size: 28px;
    font-family: sans-serif;
    color: rgb(183, 0, 255);
}
#words-el{
    font-size: 28px;
    opacity: 0.6;
}
#right-span{
    /* display: inline-block; */
    width: 16px;
    color: green;
    background-color: rgba(91, 235, 91, 0.5);
    border-radius: 8px;
}
#wrong-span{
    /* display: inline-block; */
    width: 16px;
    color: rgb(167, 0, 0);
    background-color: rgba(255, 93, 93, 0.5);
    border-radius: 8px;
}