body{
    padding: 8px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#input-el{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
#words-el{
    font-size: 28px;
    opacity: 0.6;
}
#right-span{
    color: green;
}
#wrong-span{
    color: red;
}